.uw-comm2{
    width:0.625em;
}
.uh-comm2{
    height:0.625em;
}

.t-gra-comm{
    color:#989898;
}
.t-gra2-comm{
    color:#707070;
}
.umar-r-comm{
    margin-right:2em;
}
.praise{
    background-image:url('myImg/zan.png');
}
.c-gra-comm{
    background-color:#ebebeb;
}
.uinn-comm{
    padding:0.42em 0.625em 0.625em 0.625em;
}
.line-hei-com{
    line-height:1.6em;
}
.uh-app3{
    height:2.8125em;
}
.uw-app3{
    width:2.8125em;
}
.uc-a-app2{
    -webkit-border-radius: 2.8125em;
    border-radius: 2.8125em;
}
.umar-at1{
    margin-top: .5em;
}
.mar-ar1{
    margin-right: .5em;
}

/*
 head
 * */
.t-gra-50{
    color:#505050;
}
.t-gar-a0{
    color:#a0a0a0;
}
.uinn-esh{
    padding:0.3125em 0 0.9375em 0.3125em;
}
.uinn-esh2{
    padding:0.5em 0 0.3125em 0;
}
.uinn-esh3{
    padding:0.625em 0.77em 0.46875em 0.77em;
}
.uinn-esh4{
    padding:0.5em 0.1875em 1.25em 0.3125em;
}
.uh-per1{
    height:9.375em;
}
.uwh-per2{
    height:2.875em;
    width:2.875em;
}
.uwh-per3{
    height:2.25em;
    width:2.25em;
}
.umar-per1{
    margin:0.125em;
}
.umar-per2{
    margin-top:-1.5625em;
}
.t-gra-per{
    color:#8b8b8b;
}

.b-gra-per1{
    border-color:#d1d1d1;
}
.uinn-per1{
    padding:0.40625em 0 0.5em 0;
}
.c-gra-per1{
    background-color:#a0a0a0;
}

.b-gra-cf{
    border-color:#cfcfcf
}
.uwh-esh{
    width:9.0625em;
    height:8.75em;
}
.umw-eleL{
    width:6.5625em;
}
.uwh-esh2{
    width:3em;
    height:3em;
}
.c-wh{
    background-color: white;
}
.uinn-a7{
    padding:0 0.625em;
}
.mar-aL1{
    margin-left:0.625em;
}
.umar-at2{
    margin-top:1em;
}




















